LOG_LEVEL="INFO"

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002

# Optional: some libs still look for OpenAI-style vars
OPENAI_API_TYPE=azure
OPENAI_API_VERSION=2025-01-01-preview
OPENAI_API_KEY=

# LangSmith
LANGSMITH_TRACING=false
LANGCHAIN_TRACING_V2=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= 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
LANGSMITH_PROJECT=43ff0325-6610-489b-9503-7c359006ff0f

# deepeval
CONFIDENT_API_KEY=

# neo4j
NEO4J_URI=neo4j+s://f6d0721a.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=egdxNSZks5MED4Gq_q855C6_glBr4trNryUnQzv6Z0g
NEO4J_DATABASE=neo4j
AURA_INSTANCEID=f6d0721a
AURA_INSTANCENAME=My instance