beautifulsoup4
datasets
deepeval
fastapi
matplotlib
langchain
langchain-classic
langchain-community
langchain-core
langfuse
langchain-google-genai
langchain-openai
neo4j
numpy
openai
pandas
python-dotenv
ragas
requests
seaborn
streamlit
tiktoken
uvicorn
wikipedia
