datasets==4.0.0 
langchain==0.3.27 
tiktoken==0.12.0 
pandas==2.2.2 
langchain-openai==0.3.35 
langchain-community
langchain-core==0.3.79 
openai==1.109.1 
gym==0.25.2 
beautifulsoup4==4.13.5 
requests==2.32.5 
wikipedia 
neo4j
deepeval==3.7.0 
ragas==0.3.9
streamlit==1.28.0
langchain_openai
langchain
dotenv
langchain_google_genai
pandas
langchain-classic
langchain_community
wikipedia
deepeval